:root {
    /* ================= PRIMARY ================= */
    --primary-50: oklch(97% 0.02 237.323);
    --primary-100: oklch(92% 0.05 237.323);
    --primary-200: oklch(85% 0.09 237.323);
    --primary-300: oklch(78% 0.13 237.323);
    --primary-400: oklch(72% 0.15 237.323);
    --primary-500: oklch(68.5% 0.169 237.323);
    /* base */
    --primary-600: oklch(60% 0.16 237.323);
    --primary-700: oklch(52% 0.14 237.323);
    --primary-800: oklch(44% 0.11 237.323);
    --primary-900: oklch(36% 0.08 237.323);

    /* ================= SECONDARY ================= */
    --secondary-50: oklch(96% 0.01 256.788);
    --secondary-100: oklch(91% 0.02 256.788);
    --secondary-200: oklch(84% 0.03 256.788);
    --secondary-300: oklch(78% 0.035 256.788);
    --secondary-400: oklch(74% 0.038 256.788);
    --secondary-500: oklch(70.4% 0.04 256.788);
    --secondary-600: oklch(62% 0.038 256.788);
    --secondary-700: oklch(54% 0.034 256.788);
    --secondary-800: oklch(46% 0.028 256.788);
    --secondary-900: oklch(38% 0.022 256.788);

    /* ================= WARNING ================= */
    --warning-50: oklch(97% 0.04 70.08);
    --warning-100: oklch(93% 0.08 70.08);
    --warning-200: oklch(88% 0.12 70.08);
    --warning-300: oklch(83% 0.15 70.08);
    --warning-400: oklch(80% 0.17 70.08);
    --warning-500: oklch(76.9% 0.188 70.08);
    --warning-600: oklch(68% 0.17 70.08);
    --warning-700: oklch(58% 0.15 70.08);
    --warning-800: oklch(48% 0.12 70.08);
    --warning-900: oklch(40% 0.09 70.08);

    /* ================= DANGER ================= */
    --danger-50: oklch(96% 0.05 16.439);
    --danger-100: oklch(90% 0.09 16.439);
    --danger-200: oklch(82% 0.14 16.439);
    --danger-300: oklch(74% 0.19 16.439);
    --danger-400: oklch(69% 0.22 16.439);
    --danger-500: oklch(64.5% 0.246 16.439);
    --danger-600: oklch(56% 0.23 16.439);
    --danger-700: oklch(48% 0.20 16.439);
    --danger-800: oklch(40% 0.16 16.439);
    --danger-900: oklch(34% 0.12 16.439);

    /* ================= SUCCESS ================= */
    --success-50: oklch(96% 0.05 149.579);
    --success-100: oklch(91% 0.09 149.579);
    --success-200: oklch(84% 0.14 149.579);
    --success-300: oklch(78% 0.17 149.579);
    --success-400: oklch(75% 0.20 149.579);
    --success-500: oklch(72.3% 0.219 149.579);
    --success-600: oklch(64% 0.20 149.579);
    --success-700: oklch(56% 0.18 149.579);
    --success-800: oklch(48% 0.14 149.579);
    --success-900: oklch(40% 0.11 149.579);

    /* ================= INFO ================= */
    --info-50: oklch(97% 0.02 237.323);
    --info-100: oklch(92% 0.05 237.323);
    --info-200: oklch(85% 0.09 237.323);
    --info-300: oklch(78% 0.13 237.323);
    --info-400: oklch(72% 0.15 237.323);
    --info-500: oklch(68.5% 0.169 237.323);
    --info-600: oklch(60% 0.16 237.323);
    --info-700: oklch(52% 0.14 237.323);
    --info-800: oklch(44% 0.11 237.323);
    --info-900: oklch(36% 0.08 237.323);
}